
{% block body_block %}
  <div class="jumbotron">
    <h1 class="display-4">Currently selected gifts</h1>
    {% for product in product_list %}
    <p class="lead">{{product.name}}</p>
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
        <th scope="col">In Stock</th>
        <th scope="col">Added</th>
        <th scope="col">Wanted</th>
        <th scope="col">Bought</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
      {% for product in product_list %}
      <tbody>
        <tr>
          <th scope="row">{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.brand}}</td>
          <td>{{product.price}}</td>
          <td>{{product.in_stock_quantity}}</td>
          <td>{{added}}</td>
          <td>{{quantity}}</td>
          <td>{{bought_quantity}}</td>
          <td>
           {% if user.is_authenticated %}
           <form action="{% url 'lista:gifts' %}" method="GET">
             <input type="hidden" name="delete_gift_id" value="{{gift.id}}">
             <input class="btn btn-danger" type="submit" value="Remove from gift list">
           </form>
           {% endif %}
          </td>
          <td>
           <form action="{% url 'lista:gifts' %}" method="GET">
             <input type="hidden" name="buy_gift_id" value="{{gift.id}}">
             <input class="btn btn-success" type="submit" value="Buy one">
           </form>
          </td>
        <tr>
      {% endfor %}
    </tbody>
    </table>
    {% endfor %}
  </div>


{% endblock %}
