<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <title>Django Cards</title>
  <h1>Escolha um presente para nós</h1>
</head>

<body>
  <!-- To place above the incident-modal html -->
  <script>
    $(document).ready(function () {
      $('.open-incident').click(function (e) {
        e.preventDefault();
        $('#modal').modal('show');
      });
      $('.close-modal').click(function (e) {
        e.preventDefault();
        $('#modal').modal('hide');
      });
    });
  </script>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap">

    {% for product in product_list %}
    {# Single Card Template:#}
    <div class="card" style="width: 18rem; margin: 10px">
      <img src="media/{{product.imagem}}" width="200" height="200" class="card-img-top">
      <div class="card-body">
        <div style="display: flex; flex-direction: row">
          <h5 class="card-title">{{ product.name }} {{product.id}}</h5>
          {# Colored cirlce:#}
          <div style="
          background: {{ card.color }};
          width: 20px;
          height: 20px;
          margin-left: 10px;
          border-radius: 50%;
        "></div>
        </div>
        <p class="card-text">{{ card.description }}</p>
        <button href="{% url 'lista:product_update' id=product.id %}" class="open-incident btn btn-info"
          value="{{ product.id }}" data-toggle="modal" data-id="{{ product.id }}"
          data-popup-url="{% url 'lista:product_update' id=product.id %}" data-target="#exampleModal{{product.id}}"
          data-bs-toggle="modal" data-bs-target="#exampleModal{{product.id}}">Escolher</button>

        <form name="form2" id="form2" class="form-horizontal" method="post"
          action="{% url 'lista:product_update' id=product.id %}">
          {% csrf_token %}

          <!-- Modal content-->
          <!-- Button trigger modal -->
      

          <!-- Modal -->
          <div class="modal fade" id="exampleModal{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <h5 class="card-title">{{ product.name }} {{product.id}}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="guest_name">Nome:</label>
                    <div class="col-sm-8">
                      <input type="text" name="guest_name" maxlength="50" required id="id_guest_name">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label col-sm-3" for="guest_email">Email:</label>
                    <div class="col-sm-8">
                      <input type="text" name="guest_email" maxlength="50" required id="id_guest_email">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" data-id="{{ product.id }}" class="btn btn-primary">Salvar</button>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
    </form>

    {% endfor %}
    {% include "lista/product-modal.html" %}

  </div>

</body>

</html>